[Unit]
Description=Python Flash Hello World

[Service]
Type=simple
Restart=always
RestartSec=10s
StandardOutput=syslog
StandardError=syslog
ExecStart=/usr/bin/python-flask-hello-world.py

[Install]
WantedBy=multi-user.target

